body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(circle, #e1ab9e, #dcd1c9);
    background: radial-gradient(circle, #c3f3e5, #a0f0f1);

}

#symptom-list,
#selected-symptoms {
    max-height: 200px;
    overflow-y: auto;
    border: 2px solid #b95dbc;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#symptom-list div,
#selected-symptoms div {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

#symptom-list div:hover {
    background-color: #e4cee5;
    padding-left: 10px;
}

#symptom-list div span,
#selected-symptoms div span {
    padding-left: 10px;
}

#selected-symptoms div:hover {
    background-color: #e9e0e9;
    padding-left: 10px;
}